Delivery/Connected Services/ServiceReference1/ServiceDelivery1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59435/ServiceDelivery.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceWCF" />
  <xs:element name="ListadoDistritos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoDistritosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="ListadoDistritosResult" nillable="true" type="q1:ArrayOfDistrito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="ListadoUsuariosResult" nillable="true" type="q2:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoUsuariosO">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoUsuariosOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="ListadoUsuariosOResult" nillable="true" type="q3:ArrayOfUsuarioO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logueo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="objS" nillable="true" type="q4:Sesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogueoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogueoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="objC" nillable="true" type="q5:UsuarioO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nuevoUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="objC" nillable="true" type="q6:UsuarioO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificaUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="objC" nillable="true" type="q7:UsuarioO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="ListadoProductosResult" nillable="true" type="q8:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="ListadoCategoriasResult" nillable="true" type="q9:ArrayOfCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoProductosO">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoProductosOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="ListadoProductosOResult" nillable="true" type="q10:ArrayOfProductosO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>