Delivery/Connected Services/ServiceReference1/ServiceDelivery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDelivery" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServiceDelivery_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59435/ServiceDelivery.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59435/ServiceDelivery.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59435/ServiceDelivery.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDelivery_ListadoDistritos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoDistritos" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoDistritos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoDistritosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoUsuarios" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoUsuariosO_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoUsuariosO" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoUsuariosO_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoUsuariosOResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_Logueo_InputMessage">
    <wsdl:part name="parameters" element="tns:Logueo" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_Logueo_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogueoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_nuevoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:nuevoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_nuevoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:nuevoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_modificaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:modificaUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_modificaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_eliminaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminaUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_eliminaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoProductos" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoCategorias" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoProductosO_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoProductosO" />
  </wsdl:message>
  <wsdl:message name="IServiceDelivery_ListadoProductosO_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoProductosOResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDelivery">
    <wsdl:operation name="ListadoDistritos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoDistritos" message="tns:IServiceDelivery_ListadoDistritos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoDistritosResponse" message="tns:IServiceDelivery_ListadoDistritos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoUsuarios" message="tns:IServiceDelivery_ListadoUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoUsuariosResponse" message="tns:IServiceDelivery_ListadoUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoUsuariosO">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoUsuariosO" message="tns:IServiceDelivery_ListadoUsuariosO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoUsuariosOResponse" message="tns:IServiceDelivery_ListadoUsuariosO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logueo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDelivery/Logueo" message="tns:IServiceDelivery_Logueo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDelivery/LogueoResponse" message="tns:IServiceDelivery_Logueo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="nuevoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDelivery/nuevoUsuario" message="tns:IServiceDelivery_nuevoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDelivery/nuevoUsuarioResponse" message="tns:IServiceDelivery_nuevoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDelivery/modificaUsuario" message="tns:IServiceDelivery_modificaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDelivery/modificaUsuarioResponse" message="tns:IServiceDelivery_modificaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDelivery/eliminaUsuario" message="tns:IServiceDelivery_eliminaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDelivery/eliminaUsuarioResponse" message="tns:IServiceDelivery_eliminaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoProductos" message="tns:IServiceDelivery_ListadoProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoProductosResponse" message="tns:IServiceDelivery_ListadoProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoCategorias" message="tns:IServiceDelivery_ListadoCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoCategoriasResponse" message="tns:IServiceDelivery_ListadoCategorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoProductosO">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoProductosO" message="tns:IServiceDelivery_ListadoProductosO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDelivery/ListadoProductosOResponse" message="tns:IServiceDelivery_ListadoProductosO_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDelivery" type="tns:IServiceDelivery">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListadoDistritos">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoDistritos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoUsuariosO">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoUsuariosO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logueo">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/Logueo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nuevoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/nuevoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/modificaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/eliminaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoProductos">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoCategorias">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoProductosO">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoProductosO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServiceDelivery" type="tns:IServiceDelivery">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServiceDelivery_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListadoDistritos">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoDistritos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoUsuariosO">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoUsuariosO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logueo">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/Logueo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nuevoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/nuevoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/modificaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/eliminaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoProductos">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoCategorias">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoProductosO">
      <soap:operation soapAction="http://tempuri.org/IServiceDelivery/ListadoProductosO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDelivery">
    <wsdl:port name="BasicHttpBinding_IServiceDelivery" binding="tns:BasicHttpBinding_IServiceDelivery">
      <soap:address location="http://localhost:59435/ServiceDelivery.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServiceDelivery" binding="tns:BasicHttpsBinding_IServiceDelivery">
      <soap:address location="https://localhost:44384/ServiceDelivery.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>